logging:
  file: ${LOG_PATH:/tmp/rating-manager.log}
  level:
    com:
      fleetlize: DEBUG
    org:
      springframework:
        jms: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

server:
  port: 8083

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    password: ${DB_PASS:root}
    url: ${DB_URL:jdbc:mysql://localhost:3306/rating}
    username: ${DB_USER:root}
  sleuth:
    sampler:
      probability: 1.0
  jpa:
    hibernate:
      ddl-auto: update
  #      show-sql: true
  #    properties:
  #      hibernate:
  #        format_sql: true
  main:
    lazy:
      initialization: true

fleetlize:
  jms:
    topic:
      car-creation: car-creation
      book-creation: book-creation